<!DOCTYPE html>
<html ng-app="NoteWrangler">
<head>
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
</head>
<body>
    <h1>Note Wrangler</h1>
    <div ng-view class="container-fluid"></div>
</body>

<!-- vendor -->

<script src="assets/javascript/vendors/jquery-2.2.4.min.js"></script>
<script src="assets/javascript/vendors/angular.js"></script>
<script src="assets/javascript/vendors/angular-route.js"></script>
<script src="assets/javascript/vendors/angular-resource.js"></script>

<!-- App -->
<script src="assets/javascript/app.js"></script>
<script src="assets/javascript/routes.js"></script>

<!-- Directives -->
<!-- Controllers -->
<script src="assets/javascript/Controllers/notesIndexController.js"></script>
<script src="assets/javascript/Controllers/notesShowController.js"></script>
<script src="assets/javascript/Controllers/notesEditController.js"></script>
<script src="assets/javascript/Controllers/notesCreateController.js"></script>
<script src="assets/javascript/Controllers/usersIndexController.js"></script>
<script src="assets/javascript/Controllers/usersShowController.js"></script>


<!-- Services -->
<script src="assets/javascript/services/note.js"></script>
<script src="assets/javascript/services/user.js"></script>

</html>